<div class="modal-content">
    <div class="modal-body form-steps needs-validation">
        <hr style="width:100%;text-align:left;margin-left:0">
        <div class="mb-3">
            <label class="form-label">NIK</label>
            <input type="text" class="form-control" placeholder="masukan NIK" rows="3">
        </div>
        <div class="mb-3">
            <label class="form-label">Nama</label>
            <input type="text" class="form-control" placeholder="masukan nama" rows="3">
        </div>
        <!-- Bentuk form radio -->
        <div class="mb-3">
            <label class="form-label">Jenis Kelamin</label>
            <input type="text" class="form-control" placeholder="masukan jenis kelamin" rows="3">
        </div>
        <!-- Bentuk form dropdown -->
        <div class="mb-3">
            <label class="form-label">Agama</label>
            <input type="text" class="form-control" placeholder="masukan agama" rows="3">
        </div>
        <!-- Bentuk form dropdown -->
        <div class="mb-3">
            <label class="form-label">Pendidikan Terakhir</label>
            <input type="text" class="form-control" placeholder="masukan pendidikan terakhir" rows="3">
        </div>
        <div class="mb-3">
            <label class="form-label">Pekerjaan</label>
            <input type="text" class="form-control" placeholder="masukan pekerjaan" rows="3">
        </div>
        <!-- Bentuk form dropdown -->
        <div class="mb-3">
            <label class="form-label">Golongan Darah</label>
            <input type="text" class="form-control" placeholder="masukan golongan darah" rows="3">
        </div>
        <div class="mb-3">
            <label class="form-label">Alamat</label>
            <textarea class="form-control" placeholder="masukan alamat" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">No.Telepon</label>
            <input type="text" class="form-control" placeholder="masukan nomor telepon" rows="3">
        </div>
        <div class="mb-3">
            <label class="form-label">Tanggal Lahir</label>
            <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true">
        </div>
        <div class="mb-3">
            <label class="form-label">No.Telepon</label>
            <input type="text" class="form-control" placeholder="masukan nomor telepon" rows="3">
        </div>
        <!-- Bentuk form dropdown -->
        <div class="mb-3">
            <label class="form-label">Status</label>
            <input type="text" class="form-control" placeholder="masukan status" rows="3">
        </div>
        <div class="d-flex align-items-start gap-3 mt-4">
            <button type="button" class="btn btn-success ms-auto" data-bs-toggle="modal"><i
                    class="ri-save-3-fill me-1 align-bottom"></i>
                Simpan
            </button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"><i
                    class="ri-close-fill me-1 align-bottom"></i>
                Batal
            </button>
        </div>
    </div>
</div>